{% extends "index.layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Posts</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form class="px-3 py-2" action="/jobs/add" method="post">
                    <div class="form-group row px-3">
                        <label for="dropdownUrl">Add By URL</label>
                        <input type="input" name="url" class="form-control" id="dropdownUrl"
                               placeholder="https://linkedin.com/jobs/....">
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th width="32%">Title</th>
            <th width="8%">Company</th>
            <th width="8%">Location</th>
            <th width="14%">Apply</th>
            <th width="10%">Publish</th>
            <th width="10%">Status</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for job in result.jobs %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.apply_date }}</td>
            <td>{{ job.publish_date }}</td>
            <td>status</td>
            <td>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">replayed</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">rejected</button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}